<script
  type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwtAMXGSZz8FN-RUrQOQPXDI4r6pSn-UE">
</script>
<div id="map-canvas" class="full-screen"></div>
<script>$(App.initializeMap);</script>
