<div id="main"></div>
<div class="container-fluid tree">
  <div class="row">
    <div class="col-lg-offset-9 col-sm-offset-9 col-md-offset-9 col-md-3 col-sm-3 col-lg-3">
      <div id="new-wish"></div>
      <button class="btn btn-danger">Cheer!</button>
    </div>
  </div>
</div>

<script>$(App.initialize);</script>
