<div class="container-fluid tree">
  <div class="row">
    <div class="col-md-2 col-sm-4 col-lg-2">
      <form>
        <div class="form-group">
          <input
            class="form-control"
            name="from_email"
            type="email"
            placeholder="From:"
            value="<%= params[:from_email] %>"></input>
        </div>
        <div class="form-group">
          <input
            class="form-control"
            name="to_email"
            placeholder="To:"
            type="email"></input>
        </div>
        <div class="form-group">
          <textarea class="form-control" name="note">Happy Holidays!</textarea>
        </div>
        <input class="btn btn-primary" type="submit" value="Send Cheer!">
      </form>
    </div>
  </div>
  <div class="row">
    <ul id="wishes">
    </ul>
  </div>
</div>

<script>
  $(function () {
    $('form').on('submit', function (event) {
      event.preventDefault();

      var $form = $(event.currentTarget);
      var content = $form.serializeJSON();
      var wish = new App.Models.Wish(content);

      wish.save().then(function () {
        console.log("success");
      }, function () {
        console.log("error");
      });
    });

    var wishes = new App.Collections.Wishes();

    wishes.fetch().then(function () {
      wishes.each(function (wish) {
        $('#wishes').append($('<div>').text(wish.id));
      });
    });
  });
</script>
