<div id="main"></div>
<div class="container-fluid tree">
  <div class="row">
    <div class="col-lg-offset-8 col-sm-offset-8 col-md-offset-8 col-md-4 col-sm-4 col-lg-4">
      <div id="new-wish"></div>
    </div>
  </div>
</div>

<script>$(App.initialize);</script>
