/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require animate
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

* {
  font-family: "Oxygen";
}

html {
  min-height: 100%;
}

body {
  background: asset-url("Snowytown1.jpg") no-repeat center bottom;
  background-size: cover;
}

.full-screen {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.wishes {
  position: absolute;
  top: 50;
  left: 0;
  right: 0;
  z-index: 100;
  bottom: 0;
}

.tippy {
  z-index: 100000;
}

.wish {
  position: fixed;
  color: white;
  left: -100px;
  bottom: 0;

  -webkit-transition: all 1.3s cubic-bezier(.18, .94, .19, .93);
  -moz-transition: all 1.3s cubic-bezier(.18, .94, .19, .93);
  -ms-transition: all 1.3s cubic-bezier(.18, .94, .19, .93); /* IE10 is actually unprefixed */
  -o-transition: all 1.3s cubic-bezier(.18, .94, .19, .93);
  transition: all 1.3s cubic-bezier(.18, .94, .19, .93);

  height: 15px;
  width: 15px;

  .note {
    font-size: 15px;
    width: 200px;
    z-index: 10000;
    padding: 10px;
  }

  i {
    height: 20px;
    width: 20px;
    display: block;
    z-index: 1;
    background-image: image-url('star2.2.gif');
    background-size: cover;

    -webkit-transition: all 1.3s linear;
    -moz-transition: all 1.3s linear;
    -ms-transition: all 1.3s linear; /* IE10 is actually unprefixed */
    -o-transition: all 1.3s linear;
    transition: all 1.3s linear;
  }
}

.icon-globe {
  font-size: 40px;
}

#nav {
  position: fixed;
  left: 10px;
  bottom: 10px;
  border-radius: 2px;
  background-color: rgba(250, 250, 250, 0.5);
  z-index: 10000;
  input {
    text-align: center;
    vertical-align: center;
    margin: auto 0;
    background: 0;
    border: 0;
    font-size: 20px;
    padding: 10px;
    &:hover {
      background-color: rgba(250, 20, 20, 0.5);
      cursor: pointer;
    }
  }
}

.send-wish-form {
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 10px;

  width: 250px;
  border-radius: 2px;
  background-color: rgba(250, 250, 250, 0.5);
  z-index: 10000;

  textarea {
    height: 100px;
  }
}

.send-wish-form.hide {
  margin-bottom: -100%;
}
