/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require animate
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

.tree {
  width: 100%;
  background-image: asset-url("tree1.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.full-screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.wishes {
  position: absolute;
  top: 50;
  left: 0;
  right: 0;
  z-index: 100;
  bottom: 0;
}

.wish {
  position: absolute;
  color: white;
  .note {
    display: none;
    .show {
      display: block;
    }
  }
}

.send-wish-form {
  position: fixed;
  bottom: 10px;
  border-radius: 2px;
  background-color: rgba(250, 250, 250, 0.5);
  padding: 10px;
}

.send-wish-form.hide {
  margin-bottom: -100%;
}
