<div class="form-group">
  <input
    class="form-control"
    name="from_email"
    type="email"
    placeholder="From:"
    value="<%= CURRENT_EMAIL %>"></input>
</div>

<div class="form-group">
  <input
    class="form-control"
    name="to_email"
    placeholder="To:"
    type="email"></input>
</div>

<div class="form-group">
  <textarea class="form-control" name="note">Wishing you a holiday season filled with peace, joy and happiness. Share the spirit and add your cheer to the season!</textarea>
</div>

<input class="btn btn-primary" type="submit" value="Send Cheer!">
<div class="fb-share-button" data-href="http://hyperholidaycheer.com" data-layout="button_count"></div>
