<i class="fa fa-star"></i>
<div class="note">
  <img src="<%= wish.get('from_gravatar') %>" onerror="noImage(this)">
  <img src="<%= wish.get('to_gravatar') %>" onerror="noImage(this)">
  <%= wish.get('note') %>
</div>
